body {
  font-family: sans-serif;
  color: black;
  display: flex;
  justify-content: center;
}
h1 {
  font-weight: bold;
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 0;
}
h2 {
  font-weight: bold;
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 0;
}
h3 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 0;
}
.periods {
  color: grey;
  margin-top: 12px;
  margin-bottom: 0;
}
.position {
  font-style: italic;
  margin-bottom: 0;
  margin-top: 12px;
}
.noliststyle {
  list-style: none;
}
.description {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #595959;
  margin-top: 12px;
  margin-bottom: 0;
}
ul {
  padding-left: 0;
}
.sidebar-section {
  color: #fff;
  background-color: #1e2939;
  width: 370px;
  padding: 40px;
  width: 370px;
}
.main-container {
  gap: 40px;
  display: flex;
  flex-direction: row;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.project-role {
  margin-top: 12px;
  margin-bottom: 0;
}
.technologies {
  color: gray;
}
/* sidebar */
.sidebar-list {
  margin-bottom: 0;
  margin-top: 30px;
}
.list-item {
  margin-bottom: 8px;
  margin-left: 24px;
}
.contacts {
  display: inline;
}
.contact-link {
  color: #fff;
  display: flex;
}
.sidebar-icon {
  fill: #fff;
  margin-right: 12px;
}
.sidebar-icon svg {
  font-size: 18px;
}
.contact-item {
  margin-top: 0;
  margin-bottom: 8px;
}
.contacts-heading {
  margin-bottom: 30px;
}
.main-section {
  width: 800px;
}
